/.git
/.idea
/scratch.sh
/bundler
/spigot
/crash-reports
/dynmap
/.fabric
/libraries
/logs
**/libs
**/translations
**/PluginMetrics
**/bStats
/versions
/world
/backups
**/*.json
credentials.json
ignore