/.git
/.idea
/scratch.sh
/bundler
/spigot
/crash-reports
/dynmap
/.fabric
/libraries
/logs
**/libs
**/translations
**/languages
**/Players
**/Skins
**/PluginMetrics
**/bStats
/versions
/world*
/backups
**/*.json
uuid-cache.json
credentials.json
ignore